.form-control {
  font-size: larger;
  background-color: aqua;
}
.text-center {
  color: rgb(247, 137, 4);
}
.heading {
  color: red;
  text-decoration: underline;
  font-weight: bold;
}
.btn1 {
  padding-left: 50%;
}
