.fname {
  font-style: italic;
  font-variant: small-caps;
  color: blue;
  text-align: left;
}

.lname {
  font-style: italic;
  font-variant: small-caps;
  text-align: center;
  color: blue;
}

.email {
  font-style: italic;
  font-variant: small-caps;
  color: blue;
  text-align: right;
}

.view {
  font-weight: bold;
  text-align: center;
  font-style: oblique;
  color: red;
}
.value {
  color: red;
  padding-left: 10px;
}
